workflows/Frigelar _ Recupera Carrinho _ WhatsApp Multiagentes.json
{
  "name": "Frigelar | Recupera Carrinho | WhatsApp Multiagentes",
  "nodes": [
    {
      "parameters": {
        "content": "# Frigelar | WhatsApp Multiagentes\n## Leitura recomendada do fluxo\n1. CORE: entrada da conversa\n2. CORE: contexto do site\n3. CORE: roteamento principal\n4. ATENDIMENTO: especialista responde o cliente\n5. CLIENTE: resposta vai para o WhatsApp\n6. BACKOFFICE: Gestor de Vendas analisa internamente\n7. BACKOFFICE: notificação ao vendedor indicado\n\n## Ordem real de execução\n- CLIENTE | 18 Code Parse Resposta Especialista\n- CLIENTE | 19 HTTP Responder WhatsApp\n- BACKOFFICE | 20 Code Preparar Contexto Gestor\n- BACKOFFICE | 21 AI Gestor de Vendas\n- BACKOFFICE | 22 Code Parse Gestor\n- BACKOFFICE | 23 IF Notificar Apoio Comercial\n- BACKOFFICE | 24 HTTP Notificar Apoio Comercial\n\n## Pontos centrais\n- Roteador principal: CORE | 06 AI Router Principal\n- Agente principal de atendimento: AI | 13 Conversão (Principal)\n- Agente de análise interna: BACKOFFICE | 21 AI Gestor de Vendas",
        "height": 644,
        "width": 7396,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b7e2fbcc-173a-42ca-b044-a932de0db752",
      "name": "Nota | Arquitetura"
    },
    {
      "parameters": {
        "content": "# Onde ajustar cada ponto\n- Routing: CORE | 06 AI Router Principal + CORE | 07 Code Parse Router\n- Prompts dos especialistas: AI | 13 Conversão (Principal) até AI | 17 Comparador\n- Resposta final ao cliente: CLIENTE | 18 Code Parse Resposta Especialista + CLIENTE | 19 HTTP Responder WhatsApp\n- Lógica do gestor: BACKOFFICE | 20 Code Preparar Contexto Gestor + BACKOFFICE | 21 AI Gestor de Vendas + BACKOFFICE | 22 Code Parse Gestor\n- Critério de alerta interno: BACKOFFICE | 23 IF Notificar Apoio Comercial\n- Envio ao vendedor: BACKOFFICE | 24 HTTP Notificar Apoio Comercial\n- Memória compartilhada: INFRA | Postgres Chat Memory\n- Modelo compartilhado: INFRA | OpenAI Chat Model",
        "height": 268,
        "width": 2260,
        "color": "#454545"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5104,
        48
      ],
      "id": "19273661-e4ff-4fc4-9852-2829477f800e",
      "name": "Nota | Domínios"
    },
    {
      "parameters": {
        "jsCode": "\nconst payload = $json.body || $json || {};\n\nfunction pick(...values) {\n  for (const value of values) {\n    if (value !== undefined && value !== null && String(value).trim() !== '') return value;\n  }\n  return '';\n}\n\nfunction extractMessage(body) {\n  const candidates = [\n    body?.data?.message?.conversation,\n    body?.data?.message?.extendedTextMessage?.text,\n    body?.data?.message?.imageMessage?.caption,\n    body?.data?.message?.videoMessage?.caption,\n    body?.message?.conversation,\n    body?.message?.extendedTextMessage?.text,\n    body?.message?.imageMessage?.caption,\n    body?.message?.videoMessage?.caption,\n    body?.text,\n    body?.conversation\n  ];\n  return String(pick(...candidates, '')).trim();\n}\n\nfunction extractButtonId(body) {\n  return String(\n    pick(\n      body?.data?.message?.buttonsResponseMessage?.selectedButtonId,\n      body?.data?.message?.templateButtonReplyMessage?.selectedId,\n      body?.data?.message?.interactiveResponseMessage?.nativeFlowResponseMessage?.paramsJson,\n      body?.buttonsResponseMessage?.selectedButtonId,\n      body?.button?.id,\n      body?.interactive?.button_reply?.id,\n      ''\n    )\n  ).trim();\n}\n\nfunction firstName(name) {\n  const clean = String(name || '').trim();\n  return clean ? clean.split(/\\s+/)[0] : '';\n}\n\nfunction extractUrl(text) {\n  const match = String(text || '').match(/https?:\\/\\/[^\\s]+/i);\n  return match ? match[0] : '';\n}\n\nfunction safeSessionNumber(value) {\n  return String(value || '').replace(/@.*/, '').replace(/\\D/g, '');\n}\n\nconst remoteJid = String(\n  pick(\n    payload?.data?.key?.remoteJid,\n    payload?.key?.remoteJid,\n    payload?.data?.from,\n    payload?.from,\n    ''\n  )\n).trim();\n\nconst whatsappNumber = remoteJid\n  ? safeSessionNumber(remoteJid)\n  : String(pick(payload?.phone, payload?.number, '')).replace(/\\D/g, '');\n\nconst sessionId = whatsappNumber || `sem_sessao_${Date.now()}`;\nconst pushName = String(pick(payload?.data?.pushName, payload?.pushName, payload?.notifyName, '')).trim();\n\nconst buttonId = extractButtonId(payload);\nconst isContinuacao = buttonId.startsWith('continuar_conversa::');\nconst retomadaRefKey = isContinuacao ? buttonId.split('::')[1] || '' : '';\n\nconst rawMessage = extractMessage(payload);\nconst userMessage = isContinuacao\n  ? 'Continuar conversa sobre o carrinho abandonado'\n  : (rawMessage || 'Mensagem vazia');\n\nconst incomingUrl = extractUrl(rawMessage);\n\nreturn [{\n  json: {\n    raw_payload: payload,\n    source: 'whatsapp_webhook',\n    remote_jid: remoteJid,\n    whatsapp_number: whatsappNumber,\n    session_id: sessionId,\n    user_message: userMessage,\n    customer_name: pushName,\n    first_name: firstName(pushName),\n    incoming_url: incomingUrl,\n    received_at: new Date().toISOString(),\n    cart_url: 'https://www.frigelar.com.br/cart',\n    site_base_url: 'https://www.frigelar.com.br/',\n    button_id: buttonId,\n    is_continuacao: isContinuacao,\n    produto_contexto: '',\n    retomada_ref_key: retomadaRefKey,\n    source_flow_hint: isContinuacao ? 'recuperacao_carrinho' : '',\n    journey_stage_hint: isContinuacao ? 'retomada_pos_disparo' : ''\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        368
      ],
      "id": "78d6b539-8bfe-497f-b5a5-1f04a4e7b51a",
      "name": "CORE | 02 Code Normalizar Entrada"
    },
    {
      "parameters": {
        "jsCode": "const j = $json || {};\n\nconst categories = [\n  { key: 'ar_condicionado', title: 'Ar Condicionado', url: 'https://www.frigelar.com.br/ar-condicionado/c' },\n  { key: 'eletrodomesticos', title: 'Eletrodomésticos', url: 'https://www.frigelar.com.br/eletrodomesticos/c' },\n  { key: 'eletroportateis', title: 'Eletroportáteis', url: 'https://www.frigelar.com.br/eletroportateis/c' },\n  { key: 'climatizacao', title: 'Climatização', url: 'https://www.frigelar.com.br/climatizacao/c' },\n  { key: 'ferramentas', title: 'Ferramentas', url: 'https://www.frigelar.com.br/ferramentas/c' },\n  { key: 'pecas', title: 'Peças e Acessórios', url: 'https://www.frigelar.com.br/pecas-e-acessorios/c' },\n  { key: 'refrigeracao_comercial', title: 'Refrigeração Comercial', url: 'https://www.frigelar.com.br/refrigeracao-comercial/c' },\n  { key: 'servicos', title: 'Serviços', url: 'https://www.frigelar.com.br/' },\n  { key: 'impulsiona', title: 'Parceiros Impulsiona', url: 'https://impulsiona.frigelar.com.br/' }\n];\n\nfunction normalizeSearch(text) {\n  return String(text || '')\n    .replace(/https?:\\/\\/[^\\s]+/gi, ' ')\n    .replace(/[^\\p{L}\\p{N}\\s\\-\\/]/gu, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction normalizeCompare(text) {\n  return String(text || '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .trim();\n}\n\nfunction detectCategory(text) {\n  const t = normalizeCompare(text);\n\n  if (/(impulsiona|parceiro impulsiona|parceiros impulsiona|programa impulsiona|portal impulsiona|area do parceiro|área do parceiro|instalador parceiro|instaladores parceiros|cadastro no programa|cadastro do programa|programa de parceiros|portal do parceiro|parceiros)/.test(t)) {\n    return categories.find(c => c.key === 'impulsiona');\n  }\n\n  if (/(ar condicionado|ar-condicionado|split|inverter|cassete|piso teto|multi split)/.test(t)) {\n    return categories.find(c => c.key === 'ar_condicionado');\n  }\n\n  if (/(eletrodomestico|eletrodoméstico|geladeira|refrigerador|freezer|fogao|fogão|microondas|lava e seca|lavadora|secadora)/.test(t)) {\n    return categories.find(c => c.key === 'eletrodomesticos');\n  }\n\n  if (/(eletroportatil|eletroportátil|air fryer|cafeteira|liquidificador|batedeira|aspirador)/.test(t)) {\n    return categories.find(c => c.key === 'eletroportateis');\n  }\n\n  if (/(climatizacao|climatização|ventilador|umidificador|desumidificador|climatizador)/.test(t)) {\n    return categories.find(c => c.key === 'climatizacao');\n  }\n\n  if (/(ferramenta|furadeira|parafusadeira|serra|multimetro|multímetro)/.test(t)) {\n    return categories.find(c => c.key === 'ferramentas');\n  }\n\n  if (/(peca|peça|acessorio|acessório|controle remoto|capacitor|motor|placa)/.test(t)) {\n    return categories.find(c => c.key === 'pecas');\n  }\n\n  if (/(refrigeracao comercial|refrigeração comercial|camara fria|câmara fria|expositor|ilha|balcao refrigerado|balcão refrigerado)/.test(t)) {\n    return categories.find(c => c.key === 'refrigeracao_comercial');\n  }\n\n  if (/(servico|serviço|instalacao|instalação|manutencao|manutenção|assistencia|assistência)/.test(t)) {\n    return categories.find(c => c.key === 'servicos');\n  }\n\n  return null;\n}\n\nconst rawQuery = normalizeSearch(j.user_message || '');\nconst detectedCategory = detectCategory(j.user_message || '');\n\nconst siteLookupUrl = j.incoming_url\n  ? j.incoming_url\n  : (detectedCategory?.key === 'impulsiona'\n      ? detectedCategory.url\n      : (rawQuery\n          ? `https://www.frigelar.com.br/busca?q=${encodeURIComponent(rawQuery)}`\n          : 'https://www.frigelar.com.br/'));\n\nreturn [{\n  json: {\n    ...j,\n    search_term: rawQuery,\n    detected_category: detectedCategory ? detectedCategory.key : '',\n    detected_category_title: detectedCategory ? detectedCategory.title : '',\n    detected_category_url: detectedCategory ? detectedCategory.url : '',\n    site_lookup_url: siteLookupUrl,\n    category_catalog: categories,\n    category_catalog_text: categories.map(cat => `${cat.title}: ${cat.url}`).join('\\n')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        368
      ],
      "id": "fd005c0a-69c5-4960-b025-468e956c244d",
      "name": "CORE | 03 Code Preparar Contexto Site"
    },
    {
      "parameters": {
        "url": "={{ $json.site_lookup_url }}",
        "options": {
          "redirect": {},
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "text",
              "outputPropertyName": "data"
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1696,
        368
      ],
      "id": "66141ab3-7d16-423a-b484-c6a9ecf3a9fd",
      "name": "CORE | 04 HTTP Buscar Contexto do Site"
    },
    {
      "parameters": {
        "jsCode": "\nconst j = $json || {};\n\nfunction cleanText(value) {\n  return String(value || '')\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/gi, ' ')\n    .replace(/&amp;/gi, '&')\n    .replace(/&quot;/gi, '\"')\n    .replace(/&#39;/gi, \"'\")\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction extractMatch(html, regex) {\n  const match = String(html || '').match(regex);\n  return match ? cleanText(match[1]) : '';\n}\n\nfunction absolutize(url) {\n  const value = String(url || '').trim();\n  if (!value) return '';\n  if (/^https?:\\/\\//i.test(value)) return value;\n  if (value.startsWith('/')) return `https://www.frigelar.com.br${value}`;\n  return `https://www.frigelar.com.br/${value.replace(/^\\/+/, '')}`;\n}\n\nfunction uniqueBy(arr, keyFn) {\n  const seen = new Set();\n  const out = [];\n  for (const item of arr) {\n    const key = keyFn(item);\n    if (!key || seen.has(key)) continue;\n    seen.add(key);\n    out.push(item);\n  }\n  return out;\n}\n\nconst html = String(j.data || j.body || '');\nconst siteTitle = extractMatch(html, /<title[^>]*>([\\s\\S]*?)<\\/title>/i);\nconst metaDescription = extractMatch(html, /<meta[^>]+name=[\"']description[\"'][^>]+content=[\"']([\\s\\S]*?)[\"'][^>]*>/i) ||\n  extractMatch(html, /<meta[^>]+content=[\"']([\\s\\S]*?)[\"'][^>]+name=[\"']description[\"'][^>]*>/i);\nconst h1 = extractMatch(html, /<h1[^>]*>([\\s\\S]*?)<\\/h1>/i);\n\nconst productLinks = [];\nconst categoryLinks = [];\nconst anchorRegex = /<a[^>]+href=[\"']([^\"']+)[\"'][^>]*>([\\s\\S]*?)<\\/a>/gi;\nlet match;\nwhile ((match = anchorRegex.exec(html)) !== null) {\n  const href = absolutize(match[1]);\n  const text = cleanText(match[2]).slice(0, 120);\n  if (!href || !text) continue;\n\n  if (/frigelar\\.com\\.br\\/(busca\\?q=|[^\\/?#]+\\/p|[^\\/?#]+-p\\/|produto|p\\/)/i.test(href) || /btu|eos|split|adega|cervejeira|freezer|geladeira|micro-ondas|cooktop|ventilador/i.test(text)) {\n    productLinks.push({ text, href });\n  }\n\n  if (/frigelar\\.com\\.br\\/[^\\/?#]+\\/c/i.test(href) || /(categoria|linha|ar condicionado|eletrodomésticos|eletroportáteis|climatização|ferramentas|peças|refrigeração comercial)/i.test(text)) {\n    categoryLinks.push({ text, href });\n  }\n}\n\nconst topProductLinks = uniqueBy(productLinks, item => item.href).slice(0, 5);\nconst topCategoryLinks = uniqueBy(categoryLinks, item => item.href).slice(0, 5);\n\nconst siteContextSummary = [\n  siteTitle ? `Título da página: ${siteTitle}.` : '',\n  h1 ? `Cabeçalho principal: ${h1}.` : '',\n  metaDescription ? `Descrição: ${metaDescription}.` : '',\n  topProductLinks.length ? `Produtos encontrados: ${topProductLinks.map(item => `${item.text} (${item.href})`).join(' | ')}.` : '',\n  topCategoryLinks.length ? `Categorias encontradas: ${topCategoryLinks.map(item => `${item.text} (${item.href})`).join(' | ')}.` : ''\n].filter(Boolean).join(' ');\n\nreturn [{\n  json: {\n    ...j,\n    site_page_title: siteTitle,\n    site_page_description: metaDescription,\n    site_page_h1: h1,\n    top_product_links: topProductLinks,\n    top_category_links: topCategoryLinks,\n    top_product_links_text: topProductLinks.length\n      ? topProductLinks.map(item => `${item.text}: ${item.href}`).join('\\n')\n      : '',\n    top_category_links_text: topCategoryLinks.length\n      ? topCategoryLinks.map(item => `${item.text}: ${item.href}`).join('\\n')\n      : '',\n    site_context_summary: siteContextSummary || 'Contexto do site não identificado com segurança.'\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        368
      ],
      "id": "ef673416-6526-4d28-bf76-d5f52a8e6c89",
      "name": "CORE | 05 Code Extrair Contexto Site"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $('CORE | 03 Code Preparar Contexto Site').item.json.user_message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Seu nome é Sr Pascoal! Se apresente!\nVocê é o roteador de especialistas da Frigelar no WhatsApp.\n\nSua única função é escolher 1 especialista para a mensagem atual.\n\nEspecialistas disponíveis:\n- produtos: dúvidas técnicas, compatibilidade, voltagem, BTUs, capacidade, especificações, aplicação, peças, marca, modelo.\n- site_geral: navegação no site, login, pedido, acompanhamento, políticas, garantia, troca, entrega, atendimento, informações institucionais.\n- categorias: quando o cliente ainda não sabe exatamente o produto e quer entender famílias, linhas, segmentos ou opções por necessidade.\n- comparador: quando o cliente compara dois ou mais produtos, marcas, categorias, capacidades ou atributos.\n- conversao: carrinho, checkout, link para comprar, intenção de compra, fechamento, frete, prazo, pagamento, retomada da compra, lead quente.\n\nContexto:\nNome: {{ $json.first_name }}\nMensagem: {{ $json.user_message }}\nURL mencionada: {{ $json.incoming_url }}\nResumo do site consultado:\n{{ $json.site_context_summary }}\n\nRegras:\n- utilize somente 40 caracteres.\n- Escolha apenas 1 rota.\n- Não responda ao cliente.\n- Não explique demais.\n- Se a mensagem misturar produto e intenção de compra, priorize conversao.\n- Se a mensagem misturar categoria e comparação, priorize comparador.\n- Se a mensagem falar de política, entrega, pedido, troca, garantia ou login, use site_geral.\n- Se a mensagem estiver muito vaga, escolha categorias quando parecer descoberta e conversao quando parecer fechamento.\n- Se a mensagem citar Impulsiona, parceiros, portal do parceiro, área do parceiro, instalador parceiro ou cadastro no programa, escolha categorias.\n\nRetorne somente JSON válido neste formato:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2368,
        368
      ],
      "id": "0840d620-8623-4bbf-886c-0eaf9b501240",
      "name": "CORE | 06 AI Router Principal"
    },
    {
      "parameters": {
        "jsCode": "\nconst ctx = $('CORE | 05 Code Extrair Contexto Site').item.json;\nconst raw = String($json.output || '').trim();\n\nfunction fallbackRoute(message) {\n  const text = String(message || '').toLowerCase();\n  if (/(carrinho|checkout|comprar|fechar|pagamento|frete|prazo|link)/i.test(text)) return 'conversao';\n  if (/(compar|versus|vs|diferença|melhor entre)/i.test(text)) return 'comparador';\n  if (/(categoria|linha|opção|opcoes|ambiente|uso|qual escolher)/i.test(text)) return 'categorias';\n  if (/(garantia|troca|pedido|entrega|site|login|cadastro|atendimento|institucional)/i.test(text)) return 'site_geral';\n  return 'produtos';\n}\n\nlet parsed = {};\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  parsed = {};\n}\n\nconst routeSpecialist = ['produtos','site_geral','categorias','comparador','conversao'].includes(parsed.route_specialist)\n  ? parsed.route_specialist\n  : fallbackRoute(ctx.user_message);\n\nreturn [{\n  json: {\n    ...ctx,\n    router_raw: raw,\n    route_specialist: routeSpecialist,\n    intent: parsed.intent || 'nao_classificado',\n    lead_stage: parsed.lead_stage || 'avaliacao',\n    route_reason: parsed.reason || 'fallback'\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2736,
        368
      ],
      "id": "0eb59197-1a64-4335-ae9f-e5417e649201",
      "name": "CORE | 07 Code Parse Router"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b4b70ad7-c328-4011-8431-5268e2b6ba40",
              "leftValue": "={{ $json.route_specialist }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "produtos"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3248,
        816
      ],
      "id": "021d9d52-af4a-49d0-b6db-732859012bcb",
      "name": "ROTA | 10 IF Produtos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fe46b022-a64f-4d3e-9a4f-9b83664d8363",
              "leftValue": "={{ $json.route_specialist }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "site_geral"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3248,
        656
      ],
      "id": "a579ff55-0ca3-49a9-8251-8c1dceb599d6",
      "name": "ROTA | 09 IF Site Geral"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e281c8da-2d3d-45e3-aa1c-b248f4e5c537",
              "leftValue": "={{ $json.route_specialist }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "categorias"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3248,
        976
      ],
      "id": "ce338a6e-1d35-4b1d-bd1f-55ac25b21024",
      "name": "ROTA | 11 IF Categorias"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c2d1a00e-0b5b-4110-9b50-8a2d63787fe2",
              "leftValue": "={{ $json.route_specialist }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "conversao"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3248,
        496
      ],
      "id": "a5f6bcf7-226f-4fbf-8f2c-71a04cf307eb",
      "name": "ROTA | 08 IF Conversão"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $('CORE | 03 Code Preparar Contexto Site').item.json.user_message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Seu nome é Sr Pascoal! Se apresente!\nVocê é o especialista de produtos da Frigelar no WhatsApp.\n\nSua missão é responder ao cliente de forma útil, natural, curta e comercial na medida certa.\n\nContexto disponível:\nNome: {{ $json.first_name }}\nMensagem do cliente: {{ $json.user_message }}\nEtapa do lead: {{ $json.lead_stage }}\nResumo do site consultado:\n{{ $json.site_context_summary }}\n\nLinks de produto encontrados:\n{{ $json.top_product_links_text }}\n\nLinks de categoria encontrados:\n{{ $json.top_category_links_text }}\n\nMapa de categorias:\n{{ $json.category_catalog_text }}\n\nCarrinho:\n{{ $json.cart_url }}\n\nRegras globais:\n- Responda sempre em português do Brasil.\n- A resposta deve parecer uma mensagem real de WhatsApp.\n- Seja claro, consultivo e objetivo.\n- Use frases curtas.\n- No máximo 1 pergunta por mensagem.\n- Nunca invente preço, estoque, frete, prazo ou especificação técnica.\n- Se faltar dado, diga isso com transparência.\n- Se houver link útil, use recommended_link.\n- Se precisar de atendimento humano, marque needs_human como true.\n- Não use markdown.\n- Não escreva explicações para o time; escreva pensando no cliente final.\n\n- Foque em compatibilidade, aplicação, uso e especificações.\n- Se o cliente citar um modelo, use o contexto do site para ancorar a resposta.\n- Se a dúvida depender de detalhe ausente, faça uma única pergunta objetiva.\n- Se houver link de produto relevante, priorize-o como recommended_link.\n\nRetorne somente JSON válido neste formato:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3856,
        800
      ],
      "id": "97acd1e4-16c2-42a4-a3bd-961db9ef3105",
      "name": "AI | 15 Produtos"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.user_message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Seu nome é Sr Pascoal! Se apresente!\nVocê é o especialista de site_geral da Frigelar no WhatsApp.\n\nSua missão é responder ao cliente de forma útil, natural, curta e comercial na medida certa.\n\nContexto disponível:\nNome: {{ $json.first_name }}\nMensagem do cliente: {{ $json.user_message }}\nEtapa do lead: {{ $json.lead_stage }}\nResumo do site consultado:\n{{ $json.site_context_summary }}\n\nLinks de produto encontrados:\n{{ $json.top_product_links_text }}\n\nLinks de categoria encontrados:\n{{ $json.top_category_links_text }}\n\nMapa de categorias:\n{{ $json.category_catalog_text }}\n\nCarrinho:\n{{ $json.cart_url }}\n\nRegras globais:\n- Responda sempre em português do Brasil.\n- A resposta deve parecer uma mensagem real de WhatsApp.\n- Seja claro, consultivo e objetivo.\n- Use frases curtas.\n- No máximo 1 pergunta por mensagem.\n- Nunca invente preço, estoque, frete, prazo ou especificação técnica.\n- Se faltar dado, diga isso com transparência.\n- Se houver link útil, use recommended_link.\n- Se precisar de atendimento humano, marque needs_human como true.\n- Não use markdown.\n- Não escreva explicações para o time; escreva pensando no cliente final.\n\n- Foque em navegação, políticas, pedido, login, atendimento e informações gerais do site.\n- Quando a informação não estiver confirmada no contexto, seja transparente e direcione para o site base ou atendimento humano.\n- Se houver uma página útil no contexto, use-a como recommended_link.\n- Se a mensagem falar de Impulsiona, parceiros, portal do parceiro, área do parceiro, instalador parceiro ou cadastro no programa, use sempre o campo recommended_link exatamente com este link: https://impulsiona.frigelar.com.br/\n- Nunca use links alternativos da Frigelar para esse tema.\n- Nunca use /instaladores-parceiros, /instalador, /Technician ou outras variações para esse caso.\n\nRetorne somente JSON válido neste formato:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3856,
        640
      ],
      "id": "8c8a16aa-ca94-4d8e-9ee3-628aeb7b4e6a",
      "name": "AI | 14 Site Geral"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.user_message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Seu nome é Sr Pascoal. Sempre se apresente no início quando fizer sentido.\nVocê é o especialista de categorias da Frigelar no WhatsApp.\n\nSua missão é responder ao cliente de forma útil, natural, curta e comercial na medida certa.\n\nContexto disponível:\nNome: {{ $json.first_name }}\nMensagem do cliente: {{ $json.user_message }}\nEtapa do lead: {{ $json.lead_stage }}\n\nResumo do site consultado:\n{{ $json.site_context_summary }}\n\nLinks de produto encontrados:\n{{ $json.top_product_links_text }}\n\nLinks de categoria encontrados:\n{{ $json.top_category_links_text }}\n\nMapa de categorias:\n{{ $json.category_catalog_text }}\n\nCarrinho:\n{{ $json.cart_url }}\n\nParceiros Impulsiona:\nhttps://impulsiona.frigelar.com.br/\n\nRegras globais:\n- Responda sempre em português do Brasil.\n- A resposta deve parecer uma mensagem real de WhatsApp.\n- Seja claro, consultivo e objetivo.\n- Use frases curtas.\n- No máximo 1 pergunta por mensagem.\n- Nunca invente preço, estoque, frete, prazo ou especificação técnica.\n- Se faltar dado, diga isso com transparência.\n- Se houver link útil, use o campo recommended_link.\n- Se precisar de atendimento humano, marque needs_human como true.\n- Não use markdown.\n- Não escreva explicações para o time; escreva pensando no cliente final.\n\nRegras de atendimento:\n- Ajude o cliente a descobrir a família de produto mais adequada.\n- Sugira no máximo 3 categorias.\n- Prefira orientar por necessidade de uso, ambiente ou objetivo do cliente.\n- Quando houver uma categoria claramente adequada, use o link correspondente como recommended_link.\n- Se o cliente perguntar sobre parceiros, Impulsiona, portal do parceiro, área do parceiro ou cadastro no programa, use este link no campo recommended_link: https://impulsiona.frigelar.com.br/\n- Nunca use outros links para esse tema.\n- Nunca use /instaladores-parceiros, /instalador, /Technician ou qualquer outra variação.\n\nRegra especial para instaladores:\n- Se o cliente se identificar como instalador, mencione o programa de parceiros Impulsiona da Frigelar.\n- Pergunte se ele tem interesse em acessar ou se cadastrar.\n- Se houver interesse claro, use este link no campo recommended_link: https://impulsiona.frigelar.com.br/\n\nRetorne somente JSON válido neste formato:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3856,
        960
      ],
      "id": "efc18784-cd93-494b-a783-40e92f38e902",
      "name": "AI | 16 Categorias"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.user_message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Seu nome é Sr Pascoal! Se apresente!\nVocê é o vendedor especialista em conversão da Frigelar no WhatsApp.\n\nSua função é recuperar clientes que abandonaram o carrinho e conduzi-los de volta para a compra com abordagem humana, natural, segura e comercialmente inteligente.\n\nVocê não é apenas um atendente.\nVocê é um especialista em vendas consultivas, recuperação de intenção e redução de atrito.\n\nSeu objetivo em cada mensagem é fazer o cliente avançar um passo na jornada:\n- retomar o interesse\n- responder uma dúvida\n- reduzir insegurança\n- simplificar a decisão\n- levar o cliente de volta ao carrinho\n- ou encaminhar para atendimento humano quando necessário\n\nCONTEXTO DISPONÍVEL:\nNome: {{ $json.first_name }}\nMensagem do cliente: {{ $json.user_message }}\nEtapa do lead: {{ $json.lead_stage }}\nProduto de interesse (botão de retomada): {{ $json.produto_contexto }}\nRetomada via botão: {{ $json.is_continuacao }}\nOrigem sugerida da conversa: {{ $json.source_flow_hint }}\nRef. do disparo anterior: {{ $json.retomada_ref_key }}\nUse a memória compartilhada da sessão para recuperar o contexto do último disparo de carrinho, CTA enviado, produto de interesse e etapa da jornada quando essas informações estiverem disponíveis.\nResumo do site consultado:\n{{ $json.site_context_summary }}\n\nLinks de produto encontrados:\n{{ $json.top_product_links_text }}\n\nLinks de categoria encontrados:\n{{ $json.top_category_links_text }}\n\nMapa de categorias:\n{{ $json.category_catalog_text }}\n\nCarrinho:\n{{ $json.cart_url }}\n\nPOSICIONAMENTO COMERCIAL:\n- Você vende com naturalidade, sem parecer robótico.\n- Você fala como alguém experiente em atendimento e fechamento pelo WhatsApp.\n- Você entende que o cliente já demonstrou interesse ao abandonar um carrinho.\n- Seu papel é transformar dúvida em avanço.\n- Você evita fricção, excesso de texto e respostas frias.\n- Você conduz com segurança, clareza e intenção comercial.\n\nREGRAS GERAIS:\n- Responda sempre em português do Brasil.\n- A mensagem deve parecer real, humana e enviada por um vendedor experiente no WhatsApp.\n- Use frases curtas e fluidas.\n- Seja consultivo, mas com intenção clara de conversão.\n- Nunca invente preço, estoque, frete, prazo, desconto ou especificações técnicas.\n- Se faltar dado, seja transparente.\n- Nunca force a venda de forma agressiva.\n- Nunca use markdown.\n- Nunca escreva explicações internas, raciocínio ou observações para a equipe.\n- Escreva somente pensando no cliente final.\n- No máximo 1 pergunta por mensagem.\n- Sempre que houver oportunidade, reduza o próximo passo para algo simples e fácil.\n- Quando houver link realmente útil, use recommended_link.\n- Quando fizer sentido, use o carrinho como recommended_link.\n- Se o cliente pedir para parar, respeite imediatamente e encerre com educação.\n- Se houver tema sensível, reclamação séria, problema crítico, tema fora do contexto confirmado ou necessidade de análise humana, marque needs_human como true.\n\nREGRAS DE CONVERSÃO:\n- Sua prioridade é sempre diminuir atrito e facilitar a retomada da compra.\n- Se is_continuacao for true, o cliente clicou em \"Continuar conversa\" após receber uma oferta. Use primeiro a memória compartilhada da sessão para recuperar o produto, CTA, ação da régua e contexto do carrinho. Não peça que o cliente repita o que quer.\n- Mesmo quando is_continuacao for false, se a memória mostrar que a conversa começou em uma recuperação de carrinho, preserve a continuidade natural e responda como sequência da abordagem anterior.\n- Responda de forma útil, mas com direção comercial.\n- Evite respostas neutras demais.\n- Sempre procure mover o cliente para frente.\n- Se a intenção estiver alta, seja direto para a retomada do carrinho.\n- Se a intenção estiver morna, aqueça a conversa com segurança e objetividade.\n- Se houver dúvida, responda e aproxime o cliente da decisão.\n- Se o cliente estiver indeciso, simplifique.\n- Se o cliente demonstrar interesse em categoria, direcione para a categoria.\n- Se o cliente mencionar o produto do carrinho, tente reconectar esse interesse ao próximo passo.\n- Se o cliente estiver pronto para agir, conduza para o link.\n- Se o cliente estiver perdido, oriente com clareza.\n- Se o cliente só responder algo curto como “oi”, “quero ver”, “me manda”, “tem?”, interprete a intenção e puxe a conversa para a recuperação da compra.\n\nESTILO DE RESPOSTA:\n- Natural\n- Seguro\n- Profissional\n- Comercial na medida certa\n- Sem exagero publicitário\n- Sem parecer scriptado\n- Sem emojis em excesso\n- Pode usar emoji apenas quando fizer sentido e com moderação\n\nCOMO AGIR POR CENÁRIO:\n\n1. Cliente demonstra intenção de compra\nAja com objetividade.\nConfirme o caminho e leve para o carrinho ou link mais útil.\n\n2. Cliente demonstra dúvida\nEsclareça com o que estiver disponível.\nSe não houver dado confiável, diga isso com transparência e mantenha o cliente avançando.\n\n3. Cliente está frio ou inseguro\nSeja leve, útil e próximo.\nTraga o foco para o que ele já demonstrou interesse.\nMostre facilidade no próximo passo.\n\n4. Cliente quer comparar ou explorar opções\nUse links de produto ou categoria quando houver.\nAjude sem sobrecarregar.\n\n5. Cliente pede algo fora do confirmado ou que exija intervenção humana\nSinalize handoff.\n\n6. Cliente quer encerrar ou parar contato\nRespeite imediatamente.\n\nPRINCÍPIOS IMPORTANTES:\n- Cada resposta deve ter utilidade comercial.\n- Não responda como FAQ.\n- Não seja passivo.\n- Não seja insistente.\n- Seja o tipo de vendedor que entende o momento do cliente e destrava a compra.\n- O cliente deve sentir que está falando com alguém preparado para ajudar de verdade e facilitar a decisão.\n\nLÓGICA DE LINK:\n- Use recommended_link quando existir um próximo passo claro.\n- Prefira o link do carrinho quando a conversa indicar retomada direta da compra.\n- Prefira links de produto quando o cliente estiver focado em um item.\n- Prefira links de categoria quando o cliente estiver explorando opções.\n- Se não houver link realmente útil, deixe recommended_link vazio.\n\nCLASSIFICAÇÃO DO ESPECIALISTA:\n- specialist deve refletir quem está atuando no momento:\n  - \"conversão\" para retomada de compra e fechamento\n  - \"produto\" para apoio na escolha ou comparação\n  - \"categoria\" para navegação e descoberta\n  - \"atendimento_humano\" quando houver handoff\n\nRETORNE SOMENTE JSON VÁLIDO NESTE FORMATO:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3856,
        480
      ],
      "id": "638e662f-5c1d-42bf-9200-f6c16ab067eb",
      "name": "AI | 13 Conversão (Principal)"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('CORE | 07 Code Parse Router').item.json;\n\nfunction tryParseJson(text) {\n  const raw = String(text || '').trim();\n  if (!raw) return {};\n  try {\n    return JSON.parse(raw);\n  } catch (e) {}\n\n  const fenced = raw.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/i);\n  if (fenced) {\n    try {\n      return JSON.parse(fenced[1]);\n    } catch (e) {}\n  }\n\n  const start = raw.indexOf('{');\n  const end = raw.lastIndexOf('}');\n  if (start >= 0 && end > start) {\n    const candidate = raw.slice(start, end + 1);\n    try {\n      return JSON.parse(candidate);\n    } catch (e) {}\n  }\n\n  return {};\n}\n\nfunction normalizeText(value) {\n  return String(value || '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .trim();\n}\n\nfunction isImpulsionaIntent(context) {\n  const text = normalizeText([\n    context.user_message,\n    context.detected_category,\n    context.detected_category_title,\n    context.route_specialist,\n    context.search_term\n  ].join(' '));\n\n  return /(impulsiona|parceiro impulsiona|parceiros impulsiona|programa impulsiona|portal impulsiona|portal do parceiro|area do parceiro|area de parceiro|instalador parceiro|instaladores parceiros|cadastro no programa|cadastro do programa|programa de parceiros)/.test(text);\n}\n\nfunction sanitizeImpulsionaLink(text, fixedLink) {\n  let output = String(text || '');\n\n  output = output.replace(/https?:\\/\\/www\\.frigelar\\.com\\.br\\/instaladores-parceiros[^\\s]*/gi, fixedLink);\n  output = output.replace(/https?:\\/\\/www\\.frigelar\\.com\\.br\\/instalador[^\\s]*/gi, fixedLink);\n  output = output.replace(/https?:\\/\\/impulsiona\\.frigelar\\.com\\.br\\/Technician[^\\s]*/gi, fixedLink);\n  output = output.replace(/https?:\\/\\/www\\.frigelar\\.com\\.br\\/seg-instaladores\\/c[^\\s]*/gi, fixedLink);\n\n  return output;\n}\n\nconst raw = String($json.output || '').trim();\nconst parsed = tryParseJson(raw);\n\nlet replyText = String(parsed.reply_text || raw || '').trim();\nlet recommendedLink = String(parsed.recommended_link || '').trim();\nconst needsHuman = Boolean(parsed.needs_human);\nconst handoffReason = String(parsed.handoff_reason || '').trim();\nconst specialist = String(parsed.specialist || ctx.route_specialist || 'especialista').trim();\n\nconst fixedImpulsionaLink = 'https://impulsiona.frigelar.com.br/';\nconst impulsionaIntent = isImpulsionaIntent(ctx);\n\nif (impulsionaIntent) {\n  recommendedLink = fixedImpulsionaLink;\n  replyText = sanitizeImpulsionaLink(replyText, fixedImpulsionaLink);\n\n  if (!replyText.includes(fixedImpulsionaLink)) {\n    replyText = `${replyText}\\n${fixedImpulsionaLink}`.trim();\n  }\n} else if (recommendedLink && !replyText.includes(recommendedLink)) {\n  replyText = `${replyText}\\n${recommendedLink}`.trim();\n}\n\nif (needsHuman && !/atendimento humano/i.test(replyText)) {\n  replyText = `${replyText}\\nSe você preferir, eu também posso encaminhar isso para atendimento humano.`.trim();\n}\n\nif (!replyText) {\n  replyText = 'Posso te ajudar melhor se você me disser um pouco mais do que precisa.';\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    reply_text: replyText,\n    specialist_reply_text: replyText,\n    needs_human: needsHuman,\n    handoff_reason: handoffReason,\n    specialist: specialist,\n    recommended_link: recommendedLink,\n    raw_specialist_output: raw\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4448,
        144
      ],
      "id": "eda85fcd-af39-4131-84c1-2e730f58cd82",
      "name": "CLIENTE | 18 Code Parse Resposta Especialista"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "frigelar-whatsapp-multiagentes",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        688,
        368
      ],
      "id": "79b61374-4a6d-483c-a634-ba571b8c3dab",
      "name": "CORE | 01 Webhook Entrada WhatsApp",
      "webhookId": "a3db111c-b503-4956-a5fd-14ee8bac3351"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        4896,
        640
      ],
      "id": "c51147ed-bcdc-4261-a37e-67c3ee8fc586",
      "name": "INFRA | OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.whatsapp_number || $json.telefone_normalizado || String($json.remote_jid || \"\").replace(/@.*/, \"\").replace(/\\D/g, \"\") }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        4656,
        880
      ],
      "id": "3edc2443-745d-4741-a8ca-7956c07c0822",
      "name": "INFRA | Postgres Chat Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evo.geison4digital.tech/message/sendText/ge_bot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": ""
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  number: String($('CLIENTE | 18 Code Parse Resposta Especialista').item.json.whatsapp_number || $('CORE | 03 Code Preparar Contexto Site').item.json.whatsapp_number || '').replace(/\\D/g, ''),\n  text: String($json.reply_text || '').trim()\n}) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4784,
        144
      ],
      "id": "65a78bba-e6e3-4c23-b091-314685670aa6",
      "name": "CLIENTE | 19 HTTP Responder WhatsApp"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        4400,
        1152
      ],
      "id": "8b625b85-b2b7-4036-b4ef-03579321fd26",
      "name": "INFRA | Calculator"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "18c8b9cc-95b1-490e-afd5-6892c1d0875f",
              "leftValue": "={{ $json.route_specialist }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "comparador"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3248,
        1136
      ],
      "id": "b0f3ddb0-5f72-491b-8692-33b8828d064f",
      "name": "ROTA | 12 IF Comparador"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.user_message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Seu nome é Sr Pascoal! Se apresente!\nVocê é o especialista comparador da Frigelar no WhatsApp.\n\nSua missão é ajudar o cliente a comparar opções com clareza, de forma útil, natural, curta e comercial na medida certa.\n\nContexto disponível:\nNome: {{ $json.first_name }}\nMensagem do cliente: {{ $json.user_message }}\nEtapa do lead: {{ $json.lead_stage }}\nResumo do site consultado:\n{{ $json.site_context_summary }}\n\nLinks de produto encontrados:\n{{ $json.top_product_links_text }}\n\nLinks de categoria encontrados:\n{{ $json.top_category_links_text }}\n\nMapa de categorias:\n{{ $json.category_catalog_text }}\n\nCarrinho:\n{{ $json.cart_url }}\n\nRegras globais:\n- Responda sempre em português do Brasil.\n- A resposta deve parecer uma mensagem real de WhatsApp.\n- Seja claro, consultivo e objetivo.\n- Use frases curtas.\n- No máximo 1 pergunta por mensagem.\n- Nunca invente preço, estoque, frete, prazo ou especificação técnica.\n- Se faltar dado, diga isso com transparência.\n- Se houver link útil, use recommended_link.\n- Se precisar de atendimento humano, marque needs_human como true.\n- Não use markdown.\n- Não escreva explicações para o time; escreva pensando no cliente final.\n\nRegras do comparador:\n- Compare com equilíbrio, sem exagerar.\n- Destaque diferenças de uso, categoria, capacidade ou aplicação quando isso estiver claro.\n- Se faltarem dados confiáveis para comparar com precisão, deixe isso transparente e conduza o cliente para o link mais útil.\n- Quando houver um caminho comercial mais simples, reduza a fricção e ajude o cliente a avançar.\n\nRetorne somente JSON válido neste formato:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3856,
        1120
      ],
      "id": "eaa42236-aa0e-4a26-baf6-a6582248cd7b",
      "name": "AI | 17 Comparador"
    },
    {
      "parameters": {
        "jsCode": "function safeText(value, fallback = '') {\n  const text = String(value || '').trim();\n  return text || String(fallback || '').trim();\n}\n\nfunction normalize(value) {\n  return String(value || '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .trim();\n}\n\nfunction getEnv(name, fallback = '') {\n  try {\n    return safeText($env[name], fallback);\n  } catch (e) {\n    return safeText(fallback);\n  }\n}\n\nfunction inferSegment(input) {\n  const text = normalize([\n    input.user_message,\n    input.site_page_title,\n    input.site_page_description,\n    input.site_context_summary,\n    input.top_product_links_text,\n    input.top_category_links_text\n  ].join(' '));\n\n  if (/(ar condicionado|ar-condicionado|split|climatiz|ventil|umidificador)/i.test(text)) return 'climatizacao';\n  if (/(geladeira|refrigerador|freezer|frigobar|chopeira|cervejeira|adega|bebidas|refrigeracao comercial)/i.test(text)) return 'refrigeracao';\n  if (/(peca|peça|acessorio|acessório|controle|placa|motor|ferramenta|manutencao|manutenção|instalacao|instalação)/i.test(text)) return 'pecas';\n  if (/(air fryer|forno|cooktop|cafeteira|liquidificador|eletro|eletrodomestico|eletrodoméstico|eletroportatil|eletroportátil)/i.test(text)) return 'eletro';\n  return 'recuperacao';\n}\n\nfunction buildSellerProfile(nameEnv, fallbackName, numberEnv, defaultInternalNumber) {\n  return {\n    nome: getEnv(nameEnv, fallbackName),\n    numero: getEnv(numberEnv, defaultInternalNumber)\n  };\n}\n\nfunction getBaseContext() {\n  try {\n    return $('CLIENTE | 18 Code Parse Resposta Especialista').item.json || {};\n  } catch (e) {\n    return $json || {};\n  }\n}\n\nconst sendResponse = $json || {};\nconst baseContext = getBaseContext();\nconst j = {\n  ...baseContext,\n  whatsapp_send_status: safeText(sendResponse.statusCode, ''),\n  whatsapp_send_response: typeof sendResponse.body === 'string'\n    ? safeText(sendResponse.body, '')\n    : JSON.stringify(sendResponse.body || {})\n};\n\nconst segmento = inferSegment(j);\nconst defaultInternalNumber = getEnv('VENDEDOR_INTERNO_PADRAO', '555192875343');\n\nconst sellerPool = {\n  premium: buildSellerProfile('VENDEDOR_PREMIUM', 'Closer Premium', 'VENDEDOR_PREMIUM_NUMERO', defaultInternalNumber),\n  climatizacao: buildSellerProfile('VENDEDOR_CLIMATIZACAO', 'Closer Climatização', 'VENDEDOR_CLIMATIZACAO_NUMERO', defaultInternalNumber),\n  refrigeracao: buildSellerProfile('VENDEDOR_REFRIGERACAO', 'Closer Refrigeração', 'VENDEDOR_REFRIGERACAO_NUMERO', defaultInternalNumber),\n  eletro: buildSellerProfile('VENDEDOR_ELETRO', 'Closer Eletro', 'VENDEDOR_ELETRO_NUMERO', defaultInternalNumber),\n  pecas: buildSellerProfile('VENDEDOR_PECAS', 'Closer Peças', 'VENDEDOR_PECAS_NUMERO', defaultInternalNumber),\n  recuperacao: buildSellerProfile('VENDEDOR_RECUPERACAO', 'Closer Recuperação', 'VENDEDOR_RECUPERACAO_NUMERO', defaultInternalNumber),\n  atendimento_humano: buildSellerProfile('VENDEDOR_ATENDIMENTO_HUMANO', 'Fila Atendimento Humano', 'VENDEDOR_ATENDIMENTO_HUMANO_NUMERO', defaultInternalNumber)\n};\n\nconst salesRulesText = [\n  'Regras de direcionamento interno:',\n  '- se houver risco, reclamação séria ou necessidade humana clara, use atendimento_humano.',\n  '- se o lead estiver muito quente e urgente, pode usar premium.',\n  '- se o contexto indicar climatização, priorize climatizacao.',\n  '- se o contexto indicar refrigeração/bebidas, priorize refrigeracao.',\n  '- se o contexto indicar peças, instalação, manutenção ou ferramenta, priorize pecas.',\n  '- se o contexto indicar linha branca/eletroportáteis, priorize eletro.',\n  '- quando nada for claro ou o lead ainda estiver morno, use recuperacao.'\n].join('\\n');\n\nconst gestorPrompt = [\n  'Analise esta conversa de atendimento do WhatsApp da Frigelar.',\n  'Use a memória compartilhada da sessão para considerar até as últimas 15 mensagens trocadas entre cliente e atendimento.',\n  'Conte apenas mensagens úteis da conversa. Ignore eventuais trechos internos, JSONs e ruídos técnicos da memória.',\n  'Se houver menos de 15 mensagens úteis disponíveis, informe isso claramente no JSON.',\n  '',\n  `Nome do cliente: ${safeText(j.first_name || j.customer_name, 'Cliente')}`,\n  `Telefone: ${safeText(j.whatsapp_number, '')}`,\n  `Mensagem atual do cliente: ${safeText(j.user_message, '')}`,\n  `Resposta comercial preparada ao cliente: ${safeText(j.specialist_reply_text, '')}`,\n  `Especialista acionado: ${safeText(j.specialist, '')}`,\n  `Etapa do lead: ${safeText(j.lead_stage, 'avaliacao')}`,\n  `Segmento inferido: ${segmento}`,\n  `Resumo do site/contexto: ${safeText(j.site_context_summary, '')}`,\n  `Link do carrinho: ${safeText(j.cart_url, '')}`,\n  `Links de produto: ${safeText(j.top_product_links_text, '')}`,\n  `Links de categoria: ${safeText(j.top_category_links_text, '')}`,\n  j.whatsapp_send_status ? `Status do envio ao cliente: ${safeText(j.whatsapp_send_status, '')}` : '',\n  '',\n  'Perfis de vendedor disponíveis:',\n  Object.entries(sellerPool).map(([key, value]) => `- ${key}: ${value.nome} | contato: ${value.numero}`).join('\\n'),\n  '',\n  salesRulesText,\n  '',\n  'Retorne somente JSON válido neste formato:',\n  '{',\n  '  \"nome_cliente\": \"...\",',\n  '  \"telefone\": \"...\",',\n  '  \"momento_atendimento\": \"...\",',\n  '  \"quantidade_mensagens_analisadas\": 0,',\n  '  \"atingiu_janela_15_mensagens\": false,',\n  '  \"resumo_ultimas_15_mensagens\": \"...\",',\n  '  \"sinais_de_interesse\": [\"...\"],',\n  '  \"principais_objecoes\": [\"...\"],',\n  '  \"nivel_de_engajamento\": \"Alto\",',\n  '  \"urgencia_percebida\": \"Média\",',\n  '  \"score_conversao\": 0,',\n  '  \"classificacao_lead\": \"Médio potencial\",',\n  '  \"perfil_vendedor_indicado\": \"recuperacao\",',\n  '  \"recomendacao_comercial\": \"...\",',\n  '  \"justificativa_direcionamento\": \"...\"',\n  '}'\n].filter(Boolean).join('\\n');\n\nreturn [{\n  json: {\n    ...j,\n    segmento_atendimento: segmento,\n    vendedor_pool: sellerPool,\n    default_internal_number: defaultInternalNumber,\n    gestor_prompt: gestorPrompt\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5264,
        752
      ],
      "id": "fd3f41b8-33d0-4e23-abf3-026dda043940",
      "name": "BACKOFFICE | 20 Code Preparar Contexto Gestor"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.gestor_prompt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Você é o Gestor de Vendas da Frigelar.\n\nSua função é analisar qualitativamente o lead em tempo real, apoiar o time comercial e decidir o melhor direcionamento interno com base no contexto da conversa.\n\nMissão:\n- Ler o histórico da conversa pela memória compartilhada da sessão.\n- Considerar até as últimas 15 mensagens trocadas entre cliente e atendimento.\n- Informar quantas mensagens úteis realmente conseguiu considerar.\n- Identificar o momento do atendimento e o nível de interesse.\n- Avaliar intenção de compra, objeções, urgência, engajamento e probabilidade de fechamento.\n- Gerar um score de conversão de 0 a 100.\n- Classificar o lead.\n- Sugerir o perfil de vendedor mais adequado.\n- Preparar uma visão executiva objetiva e comercialmente útil.\n\nRegras:\n- Não responda ao cliente final.\n- Não escreva raciocínio interno.\n- Não invente fatos ausentes.\n- Quando a memória estiver ambígua, assuma com cautela e deixe a análise conservadora.\n- Conte apenas mensagens úteis da conversa. Ignore JSONs, logs, prompts internos e ruídos técnicos.\n- score_conversao deve ser um número inteiro de 0 a 100.\n- classificacao_lead deve ser exatamente uma destas opções:\n  - Muito alto potencial\n  - Alto potencial\n  - Médio potencial\n  - Baixo potencial\n- nivel_de_engajamento deve ser exatamente uma destas opções:\n  - Alto\n  - Médio\n  - Baixo\n- urgencia_percebida deve ser exatamente uma destas opções:\n  - Alta\n  - Média\n  - Baixa\n- perfil_vendedor_indicado deve ser exatamente um destes valores:\n  - premium\n  - climatizacao\n  - refrigeracao\n  - eletro\n  - pecas\n  - recuperacao\n  - atendimento_humano\n\nRetorne somente JSON válido neste formato:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        5824,
        752
      ],
      "id": "8c58057d-7873-4516-9f33-cbcefa130059",
      "name": "BACKOFFICE | 21 AI Gestor de Vendas"
    },
    {
      "parameters": {
        "jsCode": "function safeText(value, fallback = '') {\n  const text = String(value || '').trim();\n  return text || String(fallback || '').trim();\n}\n\nfunction parseJson(rawValue) {\n  if (rawValue && typeof rawValue === 'object' && !Array.isArray(rawValue)) return rawValue;\n\n  const raw = String(rawValue || '').trim();\n  if (!raw) return {};\n\n  try {\n    return JSON.parse(raw);\n  } catch (e) {}\n\n  const fenced = raw.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/i);\n  if (fenced) {\n    try {\n      return JSON.parse(fenced[1]);\n    } catch (e) {}\n  }\n\n  const start = raw.indexOf('{');\n  const end = raw.lastIndexOf('}');\n  if (start >= 0 && end > start) {\n    try {\n      return JSON.parse(raw.slice(start, end + 1));\n    } catch (e) {}\n  }\n\n  return {};\n}\n\nfunction clampScore(value) {\n  const num = Number(value);\n  if (!Number.isFinite(num)) return 0;\n  return Math.max(0, Math.min(100, Math.round(num)));\n}\n\nfunction normalizeList(value) {\n  if (Array.isArray(value)) {\n    return value.map(item => safeText(item, '')).filter(Boolean).slice(0, 6);\n  }\n  if (typeof value === 'string') {\n    return value\n      .split(/\\n|;|\\|/g)\n      .map(item => safeText(item, ''))\n      .filter(Boolean)\n      .slice(0, 6);\n  }\n  return [];\n}\n\nfunction normalizeEnum(value, allowed, fallback) {\n  const text = safeText(value, fallback);\n  return allowed.includes(text) ? text : fallback;\n}\n\nfunction normalizePhone(value, fallback = '') {\n  const digits = String(value || fallback || '').replace(/\\D/g, '');\n  return digits;\n}\n\nfunction classificationFromScore(score) {\n  if (score >= 85) return 'Muito alto potencial';\n  if (score >= 70) return 'Alto potencial';\n  if (score >= 45) return 'Médio potencial';\n  return 'Baixo potencial';\n}\n\nfunction boolFromAny(value) {\n  if (typeof value === 'boolean') return value;\n  return /^(true|1|sim|yes)$/i.test(String(value || '').trim());\n}\n\nfunction resolveSellerProfile(pool, profile, segment, defaultNumber) {\n  if (profile && pool[profile]) return pool[profile];\n  if (segment && pool[segment]) return pool[segment];\n  return pool.recuperacao || { nome: 'Closer Recuperação', numero: defaultNumber };\n}\n\nconst ctx = $('BACKOFFICE | 20 Code Preparar Contexto Gestor').item.json;\nconst raw = $json.output || $json;\nconst parsed = parseJson(raw);\nconst pool = ctx.vendedor_pool || {};\nconst defaultNumber = safeText(ctx.default_internal_number, '555192875343');\n\nconst score = clampScore(parsed.score_conversao);\nconst classificacao = normalizeEnum(\n  parsed.classificacao_lead,\n  ['Muito alto potencial', 'Alto potencial', 'Médio potencial', 'Baixo potencial'],\n  classificationFromScore(score)\n);\n\nconst nivelEngajamento = normalizeEnum(\n  parsed.nivel_de_engajamento,\n  ['Alto', 'Médio', 'Baixo'],\n  score >= 75 ? 'Alto' : score >= 45 ? 'Médio' : 'Baixo'\n);\n\nconst urgencia = normalizeEnum(\n  parsed.urgencia_percebida,\n  ['Alta', 'Média', 'Baixa'],\n  'Média'\n);\n\nconst quantidadeMensagens = Math.max(0, Math.round(Number(parsed.quantidade_mensagens_analisadas || 0)));\nconst atingiuJanela15 = boolFromAny(parsed.atingiu_janela_15_mensagens) || quantidadeMensagens >= 15;\n\nconst profile = safeText(parsed.perfil_vendedor_indicado, '');\nconst sellerProfile = resolveSellerProfile(pool, profile, ctx.segmento_atendimento, defaultNumber);\nconst vendedorNome = safeText(sellerProfile.nome, 'Closer Recuperação');\nconst vendedorNumero = normalizePhone(sellerProfile.numero, defaultNumber);\n\nconst sinais = normalizeList(parsed.sinais_de_interesse);\nconst objecoes = normalizeList(parsed.principais_objecoes);\n\nconst resumo = safeText(\n  parsed.resumo_ultimas_15_mensagens,\n  `Cliente em etapa ${safeText(ctx.lead_stage, 'avaliacao')} com mensagem atual: ${safeText(ctx.user_message, '')}`\n).slice(0, 900);\n\nconst recomendacao = safeText(\n  parsed.recomendacao_comercial,\n  score >= 70\n    ? 'Lead aquecido. Priorizar resposta rápida, reduzir atrito e levar para o próximo passo com clareza.'\n    : score >= 45\n      ? 'Lead em avaliação. Trabalhar objeções e manter condução consultiva sem pressão.'\n      : 'Lead frio ou inseguro. Nutrir com abordagem simples, objetiva e pouco invasiva.'\n);\n\nconst justificativa = safeText(\n  parsed.justificativa_direcionamento,\n  `Direcionamento definido pelo segmento ${safeText(ctx.segmento_atendimento, 'recuperacao')}, score ${score} e urgência ${urgencia.toLowerCase()}.`\n);\n\nconst shouldNotify = Boolean(ctx.needs_human) || (atingiuJanela15 && (\n  ['Muito alto potencial', 'Alto potencial'].includes(classificacao) || urgencia === 'Alta'\n));\n\nconst mensagemInterna = [\n  '🔎 Gestor de Vendas | Lead analisado',\n  `Cliente: ${safeText(parsed.nome_cliente, safeText(ctx.first_name || ctx.customer_name, 'Cliente'))}`,\n  `Telefone: ${normalizePhone(parsed.telefone, ctx.whatsapp_number)}`,\n  `Momento: ${safeText(parsed.momento_atendimento, safeText(ctx.lead_stage, 'avaliacao'))}`,\n  `Especialista atual: ${safeText(ctx.specialist, '')}`,\n  `Mensagens consideradas: ${quantidadeMensagens}`,\n  `Janela de 15 mensagens atingida: ${atingiuJanela15 ? 'Sim' : 'Não'}`,\n  `Score: ${score}/100`,\n  `Classificação: ${classificacao}`,\n  `Engajamento: ${nivelEngajamento}`,\n  `Urgência: ${urgencia}`,\n  `Perfil indicado: ${safeText(profile, safeText(ctx.segmento_atendimento, 'recuperacao'))}`,\n  `Vendedor indicado: ${vendedorNome}`,\n  `Sinais de interesse: ${sinais.length ? sinais.join(', ') : 'Não identificados com clareza'}`,\n  `Principais objeções: ${objecoes.length ? objecoes.join(', ') : 'Sem objeções claras até agora'}`,\n  `Resumo: ${resumo}`,\n  `Recomendação comercial: ${recomendacao}`,\n  `Justificativa do direcionamento: ${justificativa}`,\n  ctx.recommended_link ? `Link recomendado: ${ctx.recommended_link}` : '',\n  ctx.cart_url ? `Carrinho: ${ctx.cart_url}` : ''\n].filter(Boolean).join('\\n');\n\nreturn [{\n  json: {\n    ...ctx,\n    nome_cliente: safeText(parsed.nome_cliente, safeText(ctx.first_name || ctx.customer_name, 'Cliente')),\n    telefone: normalizePhone(parsed.telefone, ctx.whatsapp_number),\n    momento_atendimento: safeText(parsed.momento_atendimento, safeText(ctx.lead_stage, 'avaliacao')),\n    quantidade_mensagens_analisadas: quantidadeMensagens,\n    atingiu_janela_15_mensagens: atingiuJanela15 ? 'SIM' : 'NAO',\n    resumo_ultimas_15_mensagens: resumo,\n    sinais_de_interesse: sinais,\n    principais_objecoes: objecoes,\n    nivel_de_engajamento: nivelEngajamento,\n    urgencia_percebida: urgencia,\n    score_conversao: score,\n    classificacao_lead: classificacao,\n    recomendacao_comercial: recomendacao,\n    vendedor_indicado_perfil: safeText(profile, safeText(ctx.segmento_atendimento, 'recuperacao')),\n    vendedor_indicado_nome: vendedorNome,\n    vendedor_indicado_numero: vendedorNumero,\n    justificativa_direcionamento: justificativa,\n    should_notify_internal: shouldNotify ? 'SIM' : 'NAO',\n    mensagem_interna_apoio_comercial: mensagemInterna,\n    raw_gestor_output: typeof raw === 'string' ? raw : JSON.stringify(raw)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6416,
        752
      ],
      "id": "eaaa384f-a20e-4339-928e-0030a6576c24",
      "name": "BACKOFFICE | 22 Code Parse Gestor"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cd4d060f-df4e-4348-ab54-5b32ef38a139",
              "leftValue": "={{ $json.should_notify_internal }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "SIM"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6832,
        752
      ],
      "id": "a9e7d9f2-2575-42f9-a879-3f6d6acd672f",
      "name": "BACKOFFICE | 23 IF Notificar Apoio Comercial"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evo.geison4digital.tech/message/sendText/ge_bot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": ""
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  number: String($json.vendedor_indicado_numero || $json.default_internal_number || '555192875343@s.whatsapp.net').replace(/\\D/g, ''),\n  text: String($json.mensagem_interna_apoio_comercial || '').trim()\n}) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7168,
        736
      ],
      "id": "6d80babf-21a9-4ed1-9132-a58f2d4af631",
      "name": "BACKOFFICE | 24 HTTP Notificar Apoio Comercial"
    },
    {
      "parameters": {
        "content": "# 01. CORE | Entrada e normalização\n## Função\nReceber a mensagem do WhatsApp, extrair sessão, nome, telefone e texto.\n\n## Ajuste aqui quando quiser\n- Alterar webhook\n- Mudar formato de entrada\n- Tratar novos campos do provedor",
        "height": 520,
        "width": 620,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        48
      ],
      "id": "07685b7b-6cf7-4381-93e9-a03e89b35844",
      "name": "Nota | 01 Entrada"
    },
    {
      "parameters": {
        "content": "# 02. CORE | Contexto do site\n## Função\nMontar URL de busca, consultar o site da Frigelar e extrair contexto útil para a IA.\n\n## Ajuste aqui quando quiser\n- Trocar URL base\n- Refinar scraping\n- Melhorar resumo do contexto",
        "height": 520,
        "width": 940,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1264,
        48
      ],
      "id": "21dc48e2-f857-48f0-9836-03ed7572bd42",
      "name": "Nota | 02 Contexto Site"
    },
    {
      "parameters": {
        "content": "# 03. CORE | Roteador principal\n## Primeiro lugar para alterar o comportamento do fluxo\nCORE | 06 AI Router Principal\n\n## O que ele faz\n- escolhe somente 1 especialista por mensagem\n- define o caminho principal do atendimento\n- deve ser o primeiro ajuste quando quiser mudar a inteligência do fluxo",
        "height": 520,
        "width": 700,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2240,
        48
      ],
      "id": "3315c95c-12d7-4821-abcd-5d0b5d8caf7d",
      "name": "Nota | 03 Roteador Principal"
    },
    {
      "parameters": {
        "content": "# 04. ATENDIMENTO | Especialistas\n## Cada IF ativa 1 agente\n- AI | 13 Conversão (Principal) = atendimento comercial e recuperação de carrinho\n- AI | 14 Site Geral = pedido, login, entrega, políticas\n- AI | 15 Produtos = dúvidas técnicas e aplicação\n- AI | 16 Categorias = descoberta e navegação\n- AI | 17 Comparador = comparação entre opções\n\n## Ajuste aqui quando quiser\n- Prompts de atendimento\n- Regras de resposta\n- Lógica comercial por especialista",
        "height": 1262,
        "width": 704,
        "color": "#156121"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2976,
        48
      ],
      "id": "26409513-fbdb-4f3d-9134-b27ea93dc4bb",
      "name": "Nota | 04 Especialistas"
    },
    {
      "parameters": {
        "content": "# INFRA compartilhada dos agentes\n## Não faz parte da sequência principal\nEsses nós servem vários agentes ao mesmo tempo:\n- INFRA | OpenAI Chat Model\n- INFRA | Postgres Chat Memory\n- INFRA | Calculator",
        "height": 950,
        "width": 766,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4288,
        368
      ],
      "id": "b1e6b8b1-9b10-4deb-9ce4-45dbca3ba443",
      "name": "Nota | 05 Infra compartilhada"
    },
    {
      "parameters": {
        "content": "# 05A. CLIENTE | Resposta final\n## Tudo que termina no WhatsApp do cliente\nSai do parser comum e segue para o envio ao cliente.\n\n## Ordem correta\n1. CLIENTE | 18 Code Parse Resposta Especialista\n2. CLIENTE | 19 HTTP Responder WhatsApp\n\n## Ajuste aqui quando quiser\n- Montagem final do texto\n- Inclusão de link útil\n- Formato do payload de envio",
        "height": 1268,
        "width": 528,
        "color": "#2F46BC"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3712,
        48
      ],
      "id": "233ba97d-6bd4-4dcc-a653-39d50d6a299d",
      "name": "Nota | 06 Resposta ao Cliente"
    },
    {
      "parameters": {
        "content": "# 06. BACKOFFICE | Notificação interna\n## Só dispara quando o lead faz sentido para o vendedor\n\n## Ajuste aqui quando quiser\n- Critério de envio\n- Destinatário interno\n- Texto da mensagem",
        "height": 640,
        "width": 648,
        "color": "#258118"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6720,
        368
      ],
      "id": "69571098-b8a4-4cf1-a75f-505c1be69429",
      "name": "Nota | 08 Notificação Interna"
    },
    {
      "parameters": {
        "content": "# CONTEXTO DO GESTOR DE VENDAS\nAI | 13 Conversão (Principal)\n\nAjuste aqui o tom comercial, recuperação de carrinho e condução de compra.",
        "height": 644,
        "width": 430,
        "color": "#604B10"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5088,
        368
      ],
      "id": "1e68f5c8-923c-492f-988a-734a5001b04c",
      "name": "Nota | Agente Principal"
    },
    {
      "parameters": {
        "content": "# RAMO CLIENTE\nTudo aqui termina no WhatsApp do cliente.",
        "height": 276,
        "width": 764,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4288,
        48
      ],
      "id": "452f2f8c-238d-487b-a8f1-d6b0fc831dfa",
      "name": "Nota | Ramo Cliente"
    },
    {
      "parameters": {
        "content": "# RAMO BACKOFFICE\nTudo aqui é análise interna e alerta comercial.",
        "height": 644,
        "width": 452,
        "color": "#427213"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6240,
        368
      ],
      "name": "Nota | Ramo Backoffice",
      "id": "b3c62c92-5e6c-4ee1-bef1-20f6c90f17d7"
    },
    {
      "parameters": {
        "content": "# 05B. BACKOFFICE | Gestor de Vendas\n## Tudo que vira análise interna e alerta comercial\n\n## Camada interna de análise\nEsse ramo não responde ao cliente.\nAgora ele roda depois do envio ao cliente, mantendo a sequência operacional mais clara.\n\n## Ajustes\n- Critérios de score\n- Perfis de vendedor\n- Regras de classificação\n- Janela de mensagens analisadas",
        "height": 640,
        "width": 660,
        "color": "#126D14"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5552,
        368
      ],
      "id": "40033ef6-bee1-44ff-972e-1c256bf595b4",
      "name": "Nota | 07 Gestor de Vendas"
    }
  ],
  "pinData": {},
  "connections": {
    "CORE | 02 Code Normalizar Entrada": {
      "main": [
        [
          {
            "node": "CORE | 03 Code Preparar Contexto Site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CORE | 03 Code Preparar Contexto Site": {
      "main": [
        [
          {
            "node": "CORE | 04 HTTP Buscar Contexto do Site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CORE | 04 HTTP Buscar Contexto do Site": {
      "main": [
        [
          {
            "node": "CORE | 05 Code Extrair Contexto Site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CORE | 05 Code Extrair Contexto Site": {
      "main": [
        [
          {
            "node": "CORE | 06 AI Router Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CORE | 06 AI Router Principal": {
      "main": [
        [
          {
            "node": "CORE | 07 Code Parse Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CORE | 07 Code Parse Router": {
      "main": [
        [
          {
            "node": "ROTA | 10 IF Produtos",
            "type": "main",
            "index": 0
          },
          {
            "node": "ROTA | 09 IF Site Geral",
            "type": "main",
            "index": 0
          },
          {
            "node": "ROTA | 11 IF Categorias",
            "type": "main",
            "index": 0
          },
          {
            "node": "ROTA | 08 IF Conversão",
            "type": "main",
            "index": 0
          },
          {
            "node": "ROTA | 12 IF Comparador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ROTA | 10 IF Produtos": {
      "main": [
        [
          {
            "node": "AI | 15 Produtos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ROTA | 09 IF Site Geral": {
      "main": [
        [
          {
            "node": "AI | 14 Site Geral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ROTA | 11 IF Categorias": {
      "main": [
        [
          {
            "node": "AI | 16 Categorias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ROTA | 08 IF Conversão": {
      "main": [
        [
          {
            "node": "AI | 13 Conversão (Principal)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI | 15 Produtos": {
      "main": [
        [
          {
            "node": "CLIENTE | 18 Code Parse Resposta Especialista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI | 14 Site Geral": {
      "main": [
        [
          {
            "node": "CLIENTE | 18 Code Parse Resposta Especialista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI | 16 Categorias": {
      "main": [
        [
          {
            "node": "CLIENTE | 18 Code Parse Resposta Especialista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI | 13 Conversão (Principal)": {
      "main": [
        [
          {
            "node": "CLIENTE | 18 Code Parse Resposta Especialista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLIENTE | 18 Code Parse Resposta Especialista": {
      "main": [
        [
          {
            "node": "CLIENTE | 19 HTTP Responder WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CORE | 01 Webhook Entrada WhatsApp": {
      "main": [
        [
          {
            "node": "CORE | 02 Code Normalizar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INFRA | OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "CORE | 06 AI Router Principal",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI | 15 Produtos",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI | 14 Site Geral",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI | 16 Categorias",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI | 13 Conversão (Principal)",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI | 17 Comparador",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "BACKOFFICE | 21 AI Gestor de Vendas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "INFRA | Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI | 15 Produtos",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "AI | 13 Conversão (Principal)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ROTA | 12 IF Comparador": {
      "main": [
        [
          {
            "node": "AI | 17 Comparador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI | 17 Comparador": {
      "main": [
        [
          {
            "node": "CLIENTE | 18 Code Parse Resposta Especialista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BACKOFFICE | 20 Code Preparar Contexto Gestor": {
      "main": [
        [
          {
            "node": "BACKOFFICE | 21 AI Gestor de Vendas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BACKOFFICE | 21 AI Gestor de Vendas": {
      "main": [
        [
          {
            "node": "BACKOFFICE | 22 Code Parse Gestor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BACKOFFICE | 22 Code Parse Gestor": {
      "main": [
        [
          {
            "node": "BACKOFFICE | 23 IF Notificar Apoio Comercial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BACKOFFICE | 23 IF Notificar Apoio Comercial": {
      "main": [
        [
          {
            "node": "BACKOFFICE | 24 HTTP Notificar Apoio Comercial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLIENTE | 19 HTTP Responder WhatsApp": {
      "main": [
        [
          {
            "node": "BACKOFFICE | 20 Code Preparar Contexto Gestor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INFRA | Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "CORE | 06 AI Router Principal",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI | 15 Produtos",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI | 14 Site Geral",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI | 16 Categorias",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI | 13 Conversão (Principal)",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI | 17 Comparador",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "BACKOFFICE | 21 AI Gestor de Vendas",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "03580f4f-e678-4d26-918e-5430e9d6b8bd",
  "meta": {
    "instanceId": "589c91b7a5b9954394ccba3ed7e21630a25ffd67f8ca3180ec161173282a0597"
  },
  "id": "nEkhIBatN0htdRU4",
  "tags": [
    {
      "name": "Ativo para a Frigelar",
      "id": "B726iwWZgpXwDpDD",
      "updatedAt": "2026-04-08T16:32:52.639Z",
      "createdAt": "2026-04-08T16:32:52.639Z"
    }
  ]
}